:erb
	<% content_for :head do %>
	  <title>The Middleman!</title>
	<% end%>

= partial "search_slider.haml"
= partial "list_widget.haml"
= partial "list_widget.haml"
= partial "list_widget.haml"
= partial "list_widget.haml"


